html{
    font-size: 16px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left:0;
    padding-left:0;
}
.main-doc{
    max-width: 60%;
    margin: auto;
    padding-left: 20%;
}

.navbar ul{
    border-right: solid black 2px;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar li{
    border-top: solid black 2px;
    padding: 20px;
}
.navbar li:last-of-type{
    border-bottom: solid black 2px;
}
.navbar header{
    padding: 0 20px 20px 20px;
}

header{
    font-size: 1.8rem;
}
.bold{
    font-weight: 700;
}
#fonts_and_text li, #styling_the_body li{
        margin-top: 10px;
}
p{
    text-align: justify;
}
.image-anathomy{
    max-width: 100%;
}
.main-section dt{
    font-weight: 700;
    margin: 10px;
}
.main-section dd{
    text-align: justify;
}
.code-example{
    background-color: #f3f6f4;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
}
.intext-code{
    background-color: #f3f6f4;}
    
.notecard{
    background-color:#afddff;
    border-left: solid 	#6e99ca 5px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
@media (max-width:600px){
    .navbar ul{
        border-right: 0;
        border-bottom: solid black 2px;
        margin-left: 0;
        padding: 0;
        width: 100%;
        height: auto;
        max-height: 100px;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        overflow-x: auto;
        overflow-y: auto;
        background-color: white;
    }
    .navbar li{
        border-right: solid black 2px;
        padding: 0 20px;
        flex-grow: 1;
        font-size: 0.8rem;
    }
    html{
        font-size: 16px;
        margin: 0;
    }
    body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left:0;
        padding-left:0;
    }
    .main-doc{
        max-width: 100vh;
        margin: 0;
        padding-top: 100px;
    }
}